{% extends 'panel/admin/map/base_map.html' %}

{% block title %}Nearby Police Stations & Hospitals{% endblock %}

{% block content %}
<div class="container">
    <h1 class="header-title text-center">Nearby Police Stations & Hospitals</h1>
    
    <div class="map-container">
        <div id="map"></div>
        <div class="loader" id="loader"></div>
    </div>
    
    <div class="text-center">
        <button id="locate-btn" class="btn-locate mt-4">Locate Me</button>
    </div>

    <div class="info-box mt-4">
        <h5>Information</h5>
        <p>Click the "Locate Me" button to find your current location. You can choose to show the nearest police station or hospital and view the fastest route to the selected location.</p>
    </div>

    <div class="mt-3">
        <label for="location-type">Choose location type:</label>
        <select id="location-type" class="form-control">
            <option value="police">Police Stations</option>
            <option value="hospital">Hospitals</option>
        </select>
    </div>
</div>
{% endblock %}
