<!-- edit_communication.html -->
{% extends 'panel/base_page/base_police.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold text-center mb-6">Edit Communication</h1>

    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
                Update Communication
            </button>
        </div>
    </form>
</div>
{% endblock %}
