{% extends 'panel/police/base_police.html' %}
{% block content %}
<h1>Manage Appointments</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Time</th>
                <th>Payment</th>
                <th>Documents</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.user }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.paid }}</td>
                    <td>
                        <a href="{% url 'view_docs' appointment.user_id %}">Link to Documents</a>
                    </td>
                    <td>{{ appointment.status }}</td>
                    <td>
                        {% if appointment.status == "Created" or appointment.status == "created" or appointment.status == "CREATED" %}
                        <a href="{% url 'approve_appointment' appointment.id %}" class="btn btn-info btn-sm">Approve</a>
                        <a href="{% url 'reject_appointment' appointment.id %}" class="btn btn-danger btn-sm">Reject</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
